<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976154681899-v372j19tc35uj7modl6acsasdahdem75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976154681899-v372j19tc35uj7modl6acsasdahdem75</string>
	<key>API_KEY</key>
	<string>AIzaSyDdROFSMavxetM0DsnE0yaP92bdFdOW2RY</string>
	<key>GCM_SENDER_ID</key>
	<string>976154681899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DocsApps.com.GameRoomDemo</string>
	<key>PROJECT_ID</key>
	<string>gameroomdemo-f98a0</string>
	<key>STORAGE_BUCKET</key>
	<string>gameroomdemo-f98a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976154681899:ios:51f9090e7efffa09a9c06e</string>
</dict>
</plist>